<li class="list-group-item" style="padding: 10px" data-id="5430d257c50abd00006a596c">
<div class="media">
<span class="pull-left">
    <img class="media-object" src="http://i.ytimg.com/vi/o-1XuiQpprA/0.jpg" height="50" width="67" alt="thumbnail" />
  </span>
  <div class="media-body">
    <h4 class="media-heading">A Sky Full of Stars - Coldplay</h4>   
    <span class="date">1230409 views - 3:43</span>
    <div class="btn-group btn-group-xs right" style="margin-top: -20px">
        <button type="button" class="btn btn-danger add-button">+</button>
    </div>
  </div>
</div>
</li>

